<h1> All Meetups </h1>
<body> <br><br><br>
<a href="/meetups">View all the meetups</a>

  <ul>
    <% @meetups.each do |meet| %>
      <li><a href= "/meetups/<%= meet.id %>"><%= meet.name %></a> - <%= meet.location %></li>
      <% end %>
  </ul>
</body>
